/* line 2, ../sass/desarrollos.scss */
.single-desarrollos .desarrollos-ficha {
  padding-top: 0px;
  padding-bottom: 10px;
}
/* line 5, ../sass/desarrollos.scss */
.single-desarrollos .desarrollos-ficha .ficha {
  background: white;
}
/* line 8, ../sass/desarrollos.scss */
.single-desarrollos .desarrollos-ficha .ficha .contenido h1, .single-desarrollos .desarrollos-ficha .ficha .contenido h2, .single-desarrollos .desarrollos-ficha .ficha .contenido h3 {
  margin-top: 20px;
}
/* line 11, ../sass/desarrollos.scss */
.single-desarrollos .desarrollos-ficha .ficha .contenido p.breadcrum-ficha {
  color: #558b3e;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: -5px;
}
/* line 17, ../sass/desarrollos.scss */
.single-desarrollos .desarrollos-ficha .ficha .contenido p.breadcrum-ficha a {
  color: #558b3e;
}
/* line 19, ../sass/desarrollos.scss */
.single-desarrollos .desarrollos-ficha .ficha .contenido p.breadcrum-ficha a:hover {
  text-decoration: underline;
}
/* line 25, ../sass/desarrollos.scss */
.single-desarrollos .desarrollos-ficha .ficha .compartir {
  margin-top: 30px;
}
/* line 29, ../sass/desarrollos.scss */
.single-desarrollos .desarrollos-ficha .ficha:hover h1, .single-desarrollos .desarrollos-ficha .ficha:hover h2, .single-desarrollos .desarrollos-ficha .ficha:hover h3 {
  color: #5c5c5c;
}
/* line 35, ../sass/desarrollos.scss */
.single-desarrollos .bg-ficha {
  background-size: cover;
  background-image: url("../../assets/images/textura-2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* line 41, ../sass/desarrollos.scss */
.single-desarrollos .desarrollos-ficha .list-type ul li span.number {
  min-width: initial;
}
/* line 44, ../sass/desarrollos.scss */
.single-desarrollos .relacionados {
  padding-top: 30px;
}
/* line 47, ../sass/desarrollos.scss */
.single-desarrollos .form {
  background: #98ac94;
  color: white;
  padding: 22px 22px;
  position: absolute;
}
/* line 54, ../sass/desarrollos.scss */
.single-desarrollos .form h3 {
  color: white;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 12px;
}
/* line 62, ../sass/desarrollos.scss */
.single-desarrollos .form label {
  display: block;
  padding: 0px;
  margin: 0px 0px 12px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
/* line 70, ../sass/desarrollos.scss */
.single-desarrollos .form input, .single-desarrollos .form textarea {
  display: block;
  border: none;
  padding: 8px;
  width: 100%;
  margin-bottom: 12px;
  resize: none;
}
/* line 78, ../sass/desarrollos.scss */
.single-desarrollos .form button {
  background: #558b3e;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  width: 100%;
  color: white;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
}
/* line 92, ../sass/desarrollos.scss */
.single-desarrollos .form button:after {
  content: "";
  position: absolute;
  height: 100%;
  left: 50%;
  right: 50%;
  border-radius: inherit;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  top: 0;
}
/* line 104, ../sass/desarrollos.scss */
.single-desarrollos .form button:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  background-color: inherit;
  border-radius: 10px;
  z-index: -1;
  box-shadow: inset 0 -6px 10px rgba(0, 0, 0, 0.75);
}
/* line 118, ../sass/desarrollos.scss */
.single-desarrollos .form button:hover:after {
  left: 0;
  right: 0;
}

@media only screen and (max-width: 992px) {
  /* line 128, ../sass/desarrollos.scss */
  .single-desarrollos .desarrollos-ficha .list-type ul {
    text-align: left;
  }
}
@media only screen and (max-width: 767px) {
  /* line 136, ../sass/desarrollos.scss */
  .single-desarrollos .form {
    position: relative;
    top: 0 !important;
  }
}
