@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,500,800);
/* line 5, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/menu.scss */
body {
  position: relative;
}

/* line 4, ../sass/menu.scss */
#showLeftPush {
  text-align: right;
  color: black;
  font-size: 26px;
  display: block;
  padding-top: 11px;
  padding-right: 10px;
}

/* line 13, ../sass/menu.scss */
#showLeftPush:active, #showLeftPush:visited, #showLeftPush:hover {
  text-decoration: none;
}

/* General styles for all menus */
/* line 17, ../sass/menu.scss */
.cbp-spmenu {
  background: #ebebeb;
  position: fixed;
}

/* line 21, ../sass/menu.scss */
.cbp-spmenu a {
  display: block;
  color: black;
  font-size: 1.1em;
  font-weight: 300;
}

/* line 27, ../sass/menu.scss */
.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

/* line 34, ../sass/menu.scss */
.cbp-spmenu-vertical a {
  padding: 1em;
}

/* line 38, ../sass/menu.scss */
.cbp-spmenu-right {
  right: -240px;
}

/* line 41, ../sass/menu.scss */
.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
}

/* line 44, ../sass/menu.scss */
.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

/* line 50, ../sass/menu.scss */
.cbp-spmenu-push-toright {
  left: 240px;
}

/* line 54, ../sass/menu.scss */
.cbp-spmenu-push-toleft {
  left: -240px;
}

/* Transitions */
/* line 63, ../sass/menu.scss */
.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* Example media queries */
@media screen and (max-height: 26.375em) {
  /* line 75, ../sass/menu.scss */
  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px;
  }

  /* line 80, ../sass/menu.scss */
  .cbp-spmenu-left,
  .cbp-spmenu-push-toleft {
    left: -190px;
  }

  /* line 85, ../sass/menu.scss */
  .cbp-spmenu-right {
    right: -190px;
  }

  /* line 89, ../sass/menu.scss */
  .cbp-spmenu-push-toright {
    left: 190px;
  }
}
/* line 8, ../sass/global.scss */
.col-ms-1,
.col-ms-2,
.col-ms-3,
.col-ms-4,
.col-ms-5,
.col-ms-6,
.col-ms-7,
.col-ms-8,
.col-ms-9,
.col-ms-10,
.col-ms-11,
.col-ms-12 {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 480px) and (max-width: 767px) {
  /* line 21, ../sass/global.scss */
  .container {
    max-width: 748px;
  }

  /* line 22, ../sass/global.scss */
  .col-ms-1,
  .col-ms-2,
  .col-ms-3,
  .col-ms-4,
  .col-ms-5,
  .col-ms-6,
  .col-ms-7,
  .col-ms-8,
  .col-ms-9,
  .col-ms-10,
  .col-ms-11 {
    float: left;
  }

  /* line 33, ../sass/global.scss */
  .col-ms-1 {
    width: 8.33333333%;
  }

  /* line 34, ../sass/global.scss */
  .col-ms-2 {
    width: 16.66666667%;
  }

  /* line 35, ../sass/global.scss */
  .col-ms-3 {
    width: 25%;
  }

  /* line 36, ../sass/global.scss */
  .col-ms-4 {
    width: 33.33333333%;
  }

  /* line 37, ../sass/global.scss */
  .col-ms-5 {
    width: 41.66666667%;
  }

  /* line 38, ../sass/global.scss */
  .col-ms-6 {
    width: 50%;
  }

  /* line 39, ../sass/global.scss */
  .col-ms-7 {
    width: 58.33333333%;
  }

  /* line 40, ../sass/global.scss */
  .col-ms-8 {
    width: 66.66666667%;
  }

  /* line 41, ../sass/global.scss */
  .col-ms-9 {
    width: 75%;
  }

  /* line 42, ../sass/global.scss */
  .col-ms-10 {
    width: 83.33333333%;
  }

  /* line 43, ../sass/global.scss */
  .col-ms-11 {
    width: 91.66666667%;
  }

  /* line 44, ../sass/global.scss */
  .col-ms-12 {
    width: 100%;
  }
}
/* line 47, ../sass/global.scss */
body {
  font-family: 'Raleway', Arial, sans-serif;
}

/* line 50, ../sass/global.scss */
.header__menu {
  padding-top: 27px;
}
/* line 52, ../sass/global.scss */
.header__menu ul {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
/* line 56, ../sass/global.scss */
.header__menu ul * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
/* line 62, ../sass/global.scss */
.header__menu ul li {
  display: inline-block;
  list-style: outside none none;
  padding: 0;
  margin: 0 5px;
}
/* line 68, ../sass/global.scss */
.header__menu ul a {
  padding: 0 12px;
  font-size: 18px;
  color: #434343;
  position: relative;
  text-decoration: none;
  display: inline-block;
}
/* line 75, ../sass/global.scss */
.header__menu ul a:before {
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  left: 15%;
  right: 15%;
  top: 0;
  bottom: 0;
  border-left: 3px solid #434343;
  border-right: 3px solid #434343;
}
/* line 88, ../sass/global.scss */
.header__menu ul a:hover {
  color: #75c02b;
}
/* line 90, ../sass/global.scss */
.header__menu ul a:hover:before {
  opacity: 1;
  left: 0;
  right: 0;
}
/* line 97, ../sass/global.scss */
.header__menu ul a .current a {
  color: #ffffff;
}
/* line 99, ../sass/global.scss */
.header__menu ul a .current a:before {
  opacity: 1;
  left: 0;
  right: 0;
}

/* line 111, ../sass/global.scss */
.header {
  background: #ebebeb;
  padding: 15px 0px;
}

/* line 116, ../sass/global.scss */
footer .brands {
  padding: 55px 0 65px;
}
/* line 118, ../sass/global.scss */
footer .brands h3 {
  size: 28px;
  color: #5c5c5c;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}
/* line 127, ../sass/global.scss */
footer .brands .special-p {
  padding: 0 60px;
}
/* line 129, ../sass/global.scss */
footer .brands .special-p img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
/* line 137, ../sass/global.scss */
footer .brands .special-p img:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}
/* line 147, ../sass/global.scss */
footer .pie {
  background: #ebebeb;
  padding: 15px 0px;
  margin-top: 5px;
}
/* line 152, ../sass/global.scss */
footer .pie ul * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
/* line 158, ../sass/global.scss */
footer .pie ul li {
  display: inline-block;
  list-style: outside none none;
  padding: 0;
  margin: 0 25px 0 0;
}
/* line 163, ../sass/global.scss */
footer .pie ul li:last-child {
  margin: 0px;
}
/* line 167, ../sass/global.scss */
footer .pie ul li a {
  border: 2px solid #649c47;
  font-size: 38px;
  text-align: center;
  color: #649c47;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 179, ../sass/global.scss */
footer .pie ul li a i {
  margin-top: 8px;
}
/* line 182, ../sass/global.scss */
footer .pie ul li a:after {
  content: "";
  position: absolute;
  height: 100%;
  left: 50%;
  right: 50%;
  border-radius: inherit;
  background-color: rgba(100, 156, 71, 0.8);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 193, ../sass/global.scss */
footer .pie ul li a:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  background-color: inherit;
  border-radius: 10px;
  z-index: -1;
  box-shadow: inset 0 -6px 10px rgba(0, 0, 0, 0.75);
}
/* line 207, ../sass/global.scss */
footer .pie ul li a:hover:after {
  left: 0;
  right: 0;
}
/* line 212, ../sass/global.scss */
footer .pie ul li a:hover i {
  position: relative;
  z-index: 1;
  color: white;
}
/* line 221, ../sass/global.scss */
footer .pie p {
  font-size: 23px;
  color: #000;
  font-weight: 500;
  padding-top: 18px;
  line-height: 16px;
}
/* line 229, ../sass/global.scss */
footer .contacto {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ebebeb+0,ebebeb+50,98ac94+51,98ac94+100 */
  background: #ebebeb;
  /* Old browsers */
  background: -moz-linear-gradient(left, #ebebeb 0%, #ebebeb 50%, #98ac94 51%, #98ac94 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ebebeb 0%, #ebebeb 50%, #98ac94 51%, #98ac94 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ebebeb 0%, #ebebeb 50%, #98ac94 51%, #98ac94 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#98ac94',GradientType=1 );
  /* IE6-9 */
}
/* line 236, ../sass/global.scss */
footer .contacto .info_contacto {
  padding: 60px 35px 85px 0px;
}
/* line 238, ../sass/global.scss */
footer .contacto .info_contacto img {
  margin-bottom: 40px;
}
/* line 242, ../sass/global.scss */
footer .contacto .info_contacto address p {
  font-size: 25px;
  color: #666666;
  margin-bottom: 35px;
  line-height: 1.1;
  font-weight: 500;
}
/* line 251, ../sass/global.scss */
footer .contacto .bg-green {
  background: #98ac94;
  height: 528px;
}
/* line 254, ../sass/global.scss */
footer .contacto .bg-green .row {
  padding: 55px 0px 0px 60px;
}
/* line 256, ../sass/global.scss */
footer .contacto .bg-green .row .col-sm-6:first-child {
  padding-left: 0px;
}
/* line 259, ../sass/global.scss */
footer .contacto .bg-green .row h3 {
  color: white;
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
/* line 266, ../sass/global.scss */
footer .contacto .bg-green .row label {
  display: block;
  padding: 0px;
  margin: 0px 0px 12px;
  color: white;
  font-size: 25px;
  font-weight: 500;
}
/* line 274, ../sass/global.scss */
footer .contacto .bg-green .row input, footer .contacto .bg-green .row textarea {
  display: block;
  border: none;
  padding: 12px;
  width: 100%;
  margin-bottom: 25px;
  resize: none;
}
/* line 282, ../sass/global.scss */
footer .contacto .bg-green .row button {
  background: #558b3e;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  width: 100%;
  color: white;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
}
/* line 296, ../sass/global.scss */
footer .contacto .bg-green .row button:after {
  content: "";
  position: absolute;
  height: 100%;
  left: 50%;
  right: 50%;
  border-radius: inherit;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  top: 0;
}
/* line 308, ../sass/global.scss */
footer .contacto .bg-green .row button:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  background-color: inherit;
  border-radius: 10px;
  z-index: -1;
  box-shadow: inset 0 -6px 10px rgba(0, 0, 0, 0.75);
}
/* line 322, ../sass/global.scss */
footer .contacto .bg-green .row button:hover:after {
  left: 0;
  right: 0;
}

/* line 332, ../sass/global.scss */
a.general {
  background: #558b3e;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  width: 100%;
  color: white;
  text-align: center;
  padding: 15px 2px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  overflow: hidden;
  line-height: 1.2;
}
/* line 348, ../sass/global.scss */
a.general:after {
  content: "";
  position: absolute;
  height: 100%;
  left: 50%;
  right: 50%;
  border-radius: inherit;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  top: 0;
}
/* line 360, ../sass/global.scss */
a.general:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  background-color: inherit;
  border-radius: 10px;
  z-index: -1;
  box-shadow: inset 0 -6px 10px rgba(0, 0, 0, 0.75);
}
/* line 374, ../sass/global.scss */
a.general:hover {
  text-decoration: none;
}
/* line 377, ../sass/global.scss */
a.general:hover:after {
  left: 0;
  right: 0;
}

/* centered columns styles */
/* line 383, ../sass/global.scss */
.row-centered {
  text-align: center;
}

/* line 386, ../sass/global.scss */
.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px;
  vertical-align: top;
}

/* line 396, ../sass/global.scss */
.quienes {
  padding: 55px 0 65px;
  background-size: cover;
  background-image: url("../../assets/images/textura-2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}
/* line 403, ../sass/global.scss */
.quienes .cabezal {
  margin: 0 auto 35px;
}
/* line 406, ../sass/global.scss */
.quienes h1 {
  size: 28px;
  color: #5c5c5c;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}

/* line 416, ../sass/global.scss */
.contenido, .contenido-single {
  font-size: 23px;
  line-height: 1.28;
  color: #5c5c5c;
}
/* line 420, ../sass/global.scss */
.contenido strong, .contenido-single strong {
  font-weight: 800;
}
/* line 423, ../sass/global.scss */
.contenido em, .contenido-single em {
  font-style: italic;
}
/* line 426, ../sass/global.scss */
.contenido p, .contenido ol, .contenido ul, .contenido div, .contenido iframe, .contenido-single p, .contenido-single ol, .contenido-single ul, .contenido-single div, .contenido-single iframe {
  margin-bottom: 26px;
}
/* line 429, ../sass/global.scss */
.contenido ol, .contenido-single ol {
  list-style: initial;
  list-style-type: decimal;
  padding-left: 45px;
}
/* line 434, ../sass/global.scss */
.contenido ul, .contenido-single ul {
  list-style: initial;
  list-style-type: disc;
  padding-left: 45px;
}
/* line 439, ../sass/global.scss */
.contenido .alignnone, .contenido-single .alignnone {
  margin: 5px 20px 20px 0;
}
/* line 443, ../sass/global.scss */
.contenido .aligncenter,
.contenido div.aligncenter, .contenido-single .aligncenter,
.contenido-single div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
/* line 449, ../sass/global.scss */
.contenido .alignright, .contenido-single .alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
/* line 454, ../sass/global.scss */
.contenido .alignleft, .contenido-single .alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
/* line 459, ../sass/global.scss */
.contenido a img.alignright, .contenido-single a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
/* line 464, ../sass/global.scss */
.contenido a img.alignnone, .contenido-single a img.alignnone {
  margin: 5px 20px 20px 0;
}
/* line 468, ../sass/global.scss */
.contenido a img.alignleft, .contenido-single a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
/* line 473, ../sass/global.scss */
.contenido a img.aligncenter, .contenido-single a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 479, ../sass/global.scss */
.contenido .wp-caption, .contenido-single .wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}
/* line 487, ../sass/global.scss */
.contenido .wp-caption.alignnone, .contenido-single .wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
/* line 491, ../sass/global.scss */
.contenido .wp-caption.alignleft, .contenido-single .wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
/* line 495, ../sass/global.scss */
.contenido .wp-caption.alignright, .contenido-single .wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
/* line 499, ../sass/global.scss */
.contenido .wp-caption img, .contenido-single .wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
/* line 508, ../sass/global.scss */
.contenido .wp-caption p.wp-caption-text, .contenido-single .wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* line 515, ../sass/global.scss */
.contenido-single {
  font-size: 18px;
  margin-top: 35px;
}

/* line 519, ../sass/global.scss */
.compartir-single {
  padding: 0px 0 25px;
  text-align: right;
  padding-right: 50px;
}
/* line 523, ../sass/global.scss */
.compartir-single .fb_iframe_widget {
  top: -3px;
}

/* line 527, ../sass/global.scss */
.pagina {
  text-align: left;
}
/* line 529, ../sass/global.scss */
.pagina h1 {
  text-align: left;
  margin-bottom: 40px;
}

/* line 534, ../sass/global.scss */
.banner {
  padding: 70px 0 50px;
  background-size: cover;
  background-image: url("../../assets/images/ideas-destacada.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* line 540, ../sass/global.scss */
.banner h3 {
  color: white;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 32px;
  white-space: pre-wrap;
  line-height: 1;
}
/* line 548, ../sass/global.scss */
.banner .breadcrumb-list {
  color: white;
  text-transform: uppercase;
  font-weight: 800;
}
/* line 552, ../sass/global.scss */
.banner .breadcrumb-list h1 {
  display: inline-block;
}
/* line 555, ../sass/global.scss */
.banner .breadcrumb-list a {
  color: white;
}
/* line 557, ../sass/global.scss */
.banner .breadcrumb-list a:hover {
  text-decoration: underline;
}

/* line 563, ../sass/global.scss */
.menu-interior {
  margin-bottom: 25px;
}
/* line 565, ../sass/global.scss */
.menu-interior li {
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 20px;
}
/* line 569, ../sass/global.scss */
.menu-interior li:last-child {
  margin-right: 0px;
}
/* line 572, ../sass/global.scss */
.menu-interior li a {
  color: #434343;
  font-weight: 500;
  text-transform: uppercase;
}
/* line 576, ../sass/global.scss */
.menu-interior li a.active, .menu-interior li a:hover {
  color: #75c02b;
  font-weight: 600;
  text-decoration: none;
}

/* line 584, ../sass/global.scss */
.content-pagination {
  text-align: center;
}
/* line 586, ../sass/global.scss */
.content-pagination a {
  color: #434343 !important;
}
/* line 588, ../sass/global.scss */
.content-pagination a:hover, .content-pagination a.active, .content-pagination a.current {
  background: #75c02b !important;
  font-weight: 600;
  color: white !important;
}

/* line 595, ../sass/global.scss */
.tipo-lista {
  text-align: right;
}
/* line 597, ../sass/global.scss */
.tipo-lista a {
  color: white;
  background: #aac59e;
  text-align: center;
  padding: 9px;
  margin-left: 5px;
  padding-bottom: 6px;
}
/* line 604, ../sass/global.scss */
.tipo-lista a:hover {
  background: #75c02b;
  text-decoration: none;
}
/* line 608, ../sass/global.scss */
.tipo-lista a:active {
  text-decoration: none;
}
/* line 611, ../sass/global.scss */
.tipo-lista a i {
  vertical-align: middle;
  font-size: 20px;
}

/* line 618, ../sass/global.scss */
.fancybox-type-iframe .fancybox-nav {
  width: 60px;
}

/* line 621, ../sass/global.scss */
.fancybox-type-iframe .fancybox-nav span {
  visibility: visible;
  opacity: 0.5;
}

/* line 625, ../sass/global.scss */
.fancybox-type-iframe .fancybox-nav:hover span {
  opacity: 1;
}

/* line 628, ../sass/global.scss */
.fancybox-type-iframe .fancybox-next {
  right: -60px;
}

/* line 631, ../sass/global.scss */
.fancybox-type-iframe .fancybox-prev {
  left: -60px;
}

/* line 634, ../sass/global.scss */
.carousel-control {
  background: white;
  color: #649c47;
  height: 100px;
  bottom: 0;
  top: 0;
  margin: auto;
  padding: 0;
  width: 50px;
  opacity: 1;
  background-image: none !important;
}
/* line 645, ../sass/global.scss */
.carousel-control i {
  font-size: 45px;
  margin-top: 25px;
  display: block;
}
/* line 650, ../sass/global.scss */
.carousel-control:hover {
  background: #649c47;
  color: white;
}

/* line 655, ../sass/global.scss */
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("../../assets/images/fancybox_sprite.png") !important;
}

/* line 660, ../sass/global.scss */
a.fancybox:hover:before {
  font-family: "ecovive";
  content: "\6f";
  width: 38px;
  height: 36px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 36px;
  color: #649c47;
}

@media only screen and (max-width: 1200px) {
  /* line 686, ../sass/global.scss */
  .header__menu {
    padding-top: 32px;
  }
  /* line 689, ../sass/global.scss */
  .header__menu ul a {
    padding: 0 10px;
    font-size: 15px;
  }

  /* line 698, ../sass/global.scss */
  footer .pie ul li {
    display: inline-block;
    list-style: outside none none;
    padding: 0;
    margin: 0 13px 0 0;
  }
  /* line 705, ../sass/global.scss */
  footer .pie p {
    font-size: 21px;
  }

  /* line 710, ../sass/global.scss */
  footer .contacto .info_contacto address p {
    font-size: 22px;
  }
}
@media only screen and (max-width: 992px) {
  /* line 715, ../sass/global.scss */
  .banner h3 {
    font-size: 36px;
  }

  /* line 718, ../sass/global.scss */
  footer .contacto .bg-green .row label {
    font-size: 18px;
  }

  /* line 721, ../sass/global.scss */
  footer .contacto .info_contacto address p {
    font-size: 18px;
  }

  /* line 724, ../sass/global.scss */
  .header__menu {
    padding-top: 22px;
  }
  /* line 727, ../sass/global.scss */
  .header__menu ul li {
    margin: 0px;
  }
  /* line 730, ../sass/global.scss */
  .header__menu ul a {
    padding: 0 4px;
    font-size: 14px;
  }

  /* line 740, ../sass/global.scss */
  footer .pie ul li {
    margin: 0 11px 0 0;
  }
  /* line 742, ../sass/global.scss */
  footer .pie ul li a {
    font-size: 25px;
    width: 40px;
    height: 40px;
  }
  /* line 746, ../sass/global.scss */
  footer .pie ul li a i {
    margin-top: 6px;
  }
  /* line 752, ../sass/global.scss */
  footer .pie p {
    font-size: 14px;
    padding-top: 12px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 760, ../sass/global.scss */
  .banner h3 {
    font-size: 30px;
    line-height: 1.2;
  }

  /* line 764, ../sass/global.scss */
  .banner {
    padding: 35px 0 40px;
  }

  /* line 770, ../sass/global.scss */
  footer .pie ul li {
    margin: 0 1px 0 0;
  }
  /* line 774, ../sass/global.scss */
  footer .pie p {
    font-size: 14px;
    padding-top: 12px;
  }

  /* line 780, ../sass/global.scss */
  footer .contacto .bg-green .row textarea {
    max-height: 80px;
  }

  /* line 783, ../sass/global.scss */
  footer .contacto .bg-green .row h3 {
    font-size: 24px;
    margin-bottom: 16px;
  }

  /* line 787, ../sass/global.scss */
  footer .contacto .bg-green .row input, footer .contacto .bg-green .row textarea {
    margin-bottom: 10px;
    padding: 8px;
  }

  /* line 791, ../sass/global.scss */
  .xs-p {
    padding-left: 0px;
  }

  /* line 794, ../sass/global.scss */
  footer .contacto .info_contacto address p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 801, ../sass/global.scss */
  footer .pie ul {
    text-align: center;
  }

  /* line 806, ../sass/global.scss */
  footer .contacto .bg-green .row {
    padding: 35px 0px 0px 15px;
  }

  /* line 809, ../sass/global.scss */
  footer .contacto {
    background: #ebebeb;
  }

  /* line 812, ../sass/global.scss */
  footer .contacto .info_contacto {
    padding: 40px 35px 20px 0px;
  }
}
