@import "compass/reset"; 
@import "compass/css3"; 
@import "compass/utilities";
$light_gray : #ebebeb;
$green: #649c47;
@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,500,800);
.col-ms-1,
.col-ms-2,
.col-ms-3,
.col-ms-4,
.col-ms-5,
.col-ms-6,
.col-ms-7,
.col-ms-8,
.col-ms-9,
.col-ms-10,
.col-ms-11,
.col-ms-12 {position:relative; padding-left:15px; padding-right:15px;} 
@media (min-width: 480px) and (max-width: 767px) {
  .container {max-width:748px;} 
  .col-ms-1,
  .col-ms-2,
  .col-ms-3,
  .col-ms-4,
  .col-ms-5,
  .col-ms-6,
  .col-ms-7,
  .col-ms-8,
  .col-ms-9,
  .col-ms-10,
  .col-ms-11 {float:left;}
  .col-ms-1 {width:8.33333333%;}
  .col-ms-2 {width:16.66666667%;}
  .col-ms-3 {width:25%;}
  .col-ms-4 {width:33.33333333%;}
  .col-ms-5 {width:41.66666667%;}
  .col-ms-6 {width:50%;}
  .col-ms-7 {width:58.33333333%;}
  .col-ms-8 {width:66.66666667%;}
  .col-ms-9 {width:75%;}
  .col-ms-10 {width:83.33333333%;}
  .col-ms-11 {width:91.66666667%;}
  .col-ms-12 {width:100%;}
}

body {
  font-family: 'Raleway', Arial, sans-serif;
}
.header__menu {
	padding-top:27px;
	ul {
		text-align: center;
		text-transform: uppercase;
		font-weight: 500;
		* {
		  -webkit-box-sizing: border-box;
		  box-sizing: border-box;
		  -webkit-transition: all 0.35s ease;
		  transition: all 0.35s ease;
		}
		li {
		  display: inline-block;
		  list-style: outside none none;
		  padding: 0;
		  margin:0 5px;
		}
		a {
		  	padding: 0 12px;
		  	font-size:18px;
		  	color: rgba(67, 67, 67, 1);
		  	position: relative;
		  	text-decoration: none;
		  	display: inline-block;
		  	&:before {
				position: absolute;
				content: '';
				-webkit-transition: all 0.35s ease;
				transition: all 0.35s ease;
				opacity: 0;
				left: 15%;
				right: 15%;
				top: 0;
				bottom: 0;
				border-left: 3px solid rgba(67, 67, 67, 1);
				border-right: 3px solid rgba(67, 67, 67, 1);
			}
			&:hover{
				color: #75c02b;
				&:before{
					opacity: 1;
				  	left: 0;
				  	right: 0;
				}
			}
			.current{
				a{
					color: #ffffff;
					&:before{
						opacity: 1;
					  	left: 0;
					  	right: 0;
					}
				}
			}

		}
	}
}

.header{
	background: $light_gray;
	padding: 15px 0px;
}
footer{
	.brands{
		padding:55px 0 65px;
		h3{
			size:28px;
			color:rgba(92,92,92,1);
			font-weight:800;
			text-transform:uppercase;
			font-size:30px;
			text-align:center;
			margin-bottom:50px;
		}
		.special-p{
			padding:0 60px;
			img{
				-webkit-filter: grayscale(100%);
				-moz-filter: grayscale(100%);
				-ms-filter: grayscale(100%);
				-o-filter: grayscale(100%);
				filter: grayscale(100%);
				-webkit-transition: all 0.35s ease;
			  	transition: all 0.35s ease;
				&:hover{
					-webkit-filter: grayscale(0%);
					-moz-filter: grayscale(0%);
					-ms-filter: grayscale(0%);
					-o-filter: grayscale(0%);
					filter: grayscale(0%);
				}
			}
		}
	}
	.pie{
		background: $light_gray;
		padding: 15px 0px;
		margin-top: 5px;
		ul {
			* {
			  -webkit-box-sizing: border-box;
			  box-sizing: border-box;
			  -webkit-transition: all 0.35s ease;
			  transition: all 0.35s ease;
			}
			li {
			  display: inline-block;
			  list-style: outside none none;
			  padding: 0;
			  margin:0 25px 0 0;
			  &:last-child{
			  	margin: 0px;
			  }

			  a{
			  	border: 2px solid $green;
			  	font-size: 38px;
			  	text-align: center;
			  	color: $green; 			  	
			  	@include border-radius(50px);
			  	width: 60px;
			  	height: 60px;
			  	display: inline-block;
			  	position: relative;
			  	-webkit-transition: all 0.3s;
  				transition: all 0.3s;
  				i{
  					margin-top: 8px;
  				}
			  	&:after {
				  content: "";
				  position: absolute;
				  height: 100%;
				  left: 50%;
				  right: 50%;
				  border-radius: inherit;
				  background-color: rgba(100, 156, 71, 0.8);
				  -webkit-transition: all 0.3s;
				  transition: all 0.3s;
				}
				&:before {
				  content: "";
				  position: absolute;
				  height: 100%;
				  width: 100%;
				  left: 0;
				  top: 0;
				  -webkit-transform: translateY(5px);
				  transform: translateY(5px);
				  background-color: inherit;
				  border-radius: 10px;
				  z-index: -1;
				  box-shadow: inset 0 -6px 10px rgba(0, 0, 0, 0.75);
				}
				&:hover:after {
				  left: 0;
				  right: 0;				  
				}
				&:hover{
					i{
						position: relative;
						z-index: 1;
						color:white;
					}
				}
			  }
			}
		}
		p{
			font-size: 23px;
			color: #000;
			font-weight: 500;
			padding-top: 18px;
			line-height: 16px;
		}
	}
	.contacto{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ebebeb+0,ebebeb+50,98ac94+51,98ac94+100 */
		background: #ebebeb; /* Old browsers */
		background: -moz-linear-gradient(left,  #ebebeb 0%, #ebebeb 50%, #98ac94 51%, #98ac94 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  #ebebeb 0%,#ebebeb 50%,#98ac94 51%,#98ac94 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  #ebebeb 0%,#ebebeb 50%,#98ac94 51%,#98ac94 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#98ac94',GradientType=1 ); /* IE6-9 */
		.info_contacto{
			padding:60px 35px 85px 0px;
			img{
				margin-bottom:40px;
			}
			address{
				p{
					font-size:25px;
					color: rgba(102,102,102,1);
					margin-bottom:35px;
					line-height:1.1;
					font-weight:500;
				}
			}
		}
		.bg-green{
			background: #98ac94;
			height:528px;
			.row{
				padding: 55px 0px 0px 60px;
				.col-sm-6:first-child{
					padding-left:0px;
				}
				h3{
					color: white;
					font-weight:800;
					font-size:30px;
					text-transform: uppercase;
					margin-bottom:40px;
				}
				label{
					display: block;
					padding:0px;
					margin: 0px 0px 12px;
					color:white;
					font-size: 25px;
					font-weight:500;
				}
				input, textarea{
					display: block;
					border:none;
					padding:12px;
					width:100%;
					margin-bottom:25px;
					resize:none;
				}
				button{
					background: #558b3e; 			  	
				  	display: inline-block;
				  	position: relative;
				  	-webkit-transition: all 0.3s;
	  				transition: all 0.3s;
	  				border:none;
					width:100%;
					color: white;
					text-align:center;
					padding:15px;
					text-transform:uppercase;
					font-weight:400;
					font-size:18px;
					&:after {
					  content: "";
					  position: absolute;
					  height: 100%;
					  left: 50%;
					  right: 50%;
					  border-radius: inherit;
					  background-color: rgba(255, 255,255, 0.1);
					  -webkit-transition: all 0.3s;
					  transition: all 0.3s;
					  top:0;
					}
					&:before {
					  content: "";
					  position: absolute;
					  height: 100%;
					  width: 100%;
					  left: 0;
					  top: 0;
					  -webkit-transform: translateY(5px);
					  transform: translateY(5px);
					  background-color: inherit;
					  border-radius: 10px;
					  z-index: -1;
					  box-shadow: inset 0 -6px 10px rgba(0, 0, 0, 0.75);
					}
					&:hover:after {
					  left: 0;
					  right: 0;				  
					}
				}
			}
		}
	}
}

a.general{
	background: #558b3e; 			  	
  	display: inline-block;
  	position: relative;
  	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	border:none;
	width:100%;
	color: white;
	text-align:center;
	padding:15px 2px;
	text-transform:uppercase;
	font-weight:400;
	font-size:16px;
	overflow:hidden;
	line-height: 1.2;
	&:after {
	  content: "";
	  position: absolute;
	  height: 100%;
	  left: 50%;
	  right: 50%;
	  border-radius: inherit;
	  background-color: rgba(255, 255,255, 0.1);
	  -webkit-transition: all 0.3s;
	  transition: all 0.3s;
	  top:0;
	}
	&:before {
	  content: "";
	  position: absolute;
	  height: 100%;
	  width: 100%;
	  left: 0;
	  top: 0;
	  -webkit-transform: translateY(5px);
	  transform: translateY(5px);
	  background-color: inherit;
	  border-radius: 10px;
	  z-index: -1;
	  box-shadow: inset 0 -6px 10px rgba(0, 0, 0, 0.75);
	}
	&:hover{
		text-decoration:none;
	}
	&:hover:after {
	  left: 0;
	  right: 0;				  
	}
}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    vertical-align: top;
}

.quienes{
	padding:55px 0 65px;
	background-size: cover;
	background-image: url("../../assets/images/textura-2.jpg");
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	text-align:center;
  	.cabezal{
  		margin: 0 auto 35px;
  	}
	h1{
		size:28px;
		color:rgba(92,92,92,1);
		font-weight:800;
		text-transform:uppercase;
		font-size:30px;
		text-align:center;
		margin-bottom:15px;
	}
}
.contenido{
	font-size:23px;
	line-height: 1.28;
	color: rgba(92,92,92,1);
	p, ol, ul, div, iframe{
		margin-bottom:26px;
	}
	ol{
		list-style: initial;
	    list-style-type: decimal;
	    padding-left: 45px;
	}
	ul{
		list-style: initial;
	    list-style-type: disc;
	    padding-left: 45px;
	}
	.alignnone {
		    margin: 5px 20px 20px 0;
		}

		.aligncenter,
		div.aligncenter {
		    display: block;
		    margin: 5px auto 5px auto;
		}

		.alignright {
		    float:right;
		    margin: 5px 0 20px 20px;
		}

		.alignleft {
		    float: left;
		    margin: 5px 20px 20px 0;
		}

		a img.alignright {
		    float: right;
		    margin: 5px 0 20px 20px;
		}

		a img.alignnone {
		    margin: 5px 20px 20px 0;
		}

		a img.alignleft {
		    float: left;
		    margin: 5px 20px 20px 0;
		}

		a img.aligncenter {
		    display: block;
		    margin-left: auto;
		    margin-right: auto
		}

		.wp-caption {
		    background: #fff;
		    border: 1px solid #f0f0f0;
		    max-width: 96%; /* Image does not overflow the content area */
		    padding: 5px 3px 10px;
		    text-align: center;
		}

		.wp-caption.alignnone {
		    margin: 5px 20px 20px 0;
		}

		.wp-caption.alignleft {
		    margin: 5px 20px 20px 0;
		}

		.wp-caption.alignright {
		    margin: 5px 0 20px 20px;
		}

		.wp-caption img {
		    border: 0 none;
		    height: auto;
		    margin: 0;
		    max-width: 98.5%;
		    padding: 0;
		    width: auto;
		}

		.wp-caption p.wp-caption-text {
		    font-size: 11px;
		    line-height: 17px;
		    margin: 0;
		    padding: 0 4px 5px;
		}
}
.pagina{
	text-align: left;
	h1{
		text-align:left;
		margin-bottom:40px;
	}
}

@media only screen and (min-width : 320px) {

}
@media only screen and (min-width : 480px) {

}
@media only screen and (min-width : 768px) {

}
@media only screen and (max-width : 1200px) {
	.header__menu{
		padding-top: 32px;
		ul{
			a{
				padding: 0 10px;
				font-size: 15px;
			}
		}
	}
	footer {
		.pie{
			ul{
				li{
				    display: inline-block;
				    list-style: outside none none;
				    padding: 0;
				    margin: 0 13px 0 0;					
				}
			}
			p{
				font-size: 21px;
			}
		}
	}
	footer .contacto .info_contacto address p {
    	font-size: 22px;
	}
}
@media only screen and (max-width : 992px) { 
	footer .contacto .bg-green .row label {
		font-size:18px;
	}
	footer .contacto .info_contacto address p {
    	font-size: 18px;
	}
	.header__menu{
		padding-top: 22px;
		ul{
			li{
				margin:0px;
			}
			a{
				padding: 0 4px;
				font-size: 14px;

			}
		}
	}
	footer {
		.pie{
			ul{
				li{
					 margin: 0 11px 0 0;
				    a{
				    	font-size: 25px;
    					width: 40px;
    					height: 40px;
    					i{
    						margin-top: 6px;
    					}
				    }				
				}
			}
			p{
				font-size: 14px;
				padding-top: 12px;
			}
		}
	}
}
@media only screen and (max-width : 768px) {
footer {
		.pie{
			ul{
				li{
					 margin: 0 1px 0 0;				
				}
			}
			p{
				font-size: 14px;
				padding-top: 12px;
			}
		}
	}
	footer .contacto .bg-green .row textarea {
   		max-height:80px;
    }
    footer .contacto .bg-green .row h3 {
	   	font-size: 24px;
	   	margin-bottom: 16px;
	}
	footer .contacto .bg-green .row input, footer .contacto .bg-green .row textarea{
		margin-bottom:10px;
		padding:8px;
	}
	.xs-p{
		padding-left:0px ; 
	}
	footer .contacto .info_contacto address p {
    	font-size: 15px;
	}
}
@media only screen and (max-width : 480px) {
	footer {
		.pie{
			ul{
				text-align: center;
			}
		}
	}
	footer .contacto .bg-green .row {
   	 	padding: 35px 0px 0px 15px;
	}
	footer .contacto{
		background:#ebebeb;
	}
	footer .contacto .info_contacto {
    	padding: 40px 35px 20px 0px;
	}
}



